.myProfileDiv {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
    /* REFERENCE: https://stackoverflow.com/questions/14590913/div-extends-beyond-screen */
    width: calc(100% - 2vw);
    margin-left: 1vw;
    margin-right: 1vw;
    margin-top: 10px;
    margin-bottom: 10px;
}

.myProfileDiv > *:first-child {
    box-sizing: border-box;
    width: 49%;
}

.myProfileDiv > *:last-child {
    box-sizing: border-box;
    width: 49%;
}

mat-card {
    box-sizing: border-box;
    text-align: center;
    min-width: 100%;
    animation: fadein 1s;
    -o-animation: fadein 1s;
    -moz-animation: fadein 1s;
    -webkit-animation: fadein 1s;
}

mat-form-field {
    width: 100%;
    margin-bottom: 15px;
}

.genderRadioGroup {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}

.genderRadioGroup > *:not(:first-child) {
    margin-left: 15px;
}

.buttonDiv, .spinnerDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

form > div.buttonDiv > button {
    width: 50%;
}

mat-card-actions > div.buttonDiv > button {
    width: 100%;
}

.rightSideDiv {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.rightSideDiv > *:not(:first-child) {
    margin-top: 15px;
}

table {
    width: 100%;
}

table th {
    text-align: center;
    border: 1px groove gray;
}

table td:not(.mat-footer-cell) {
    border: 1px groove gray;
}

tr.mat-footer-row {
    font-weight: bold;
}

.mat-header-cell {
    color: rgba(0, 0, 0, 0.75);
}

.mat-header-cell:first-of-type, .mat-cell:first-of-type, .mat-footer-cell:first-of-type {
    padding-left: 0px;
}

.mat-header-cell:last-of-type, .mat-cell:last-of-type, .mat-footer-cell:last-of-type {
    padding-right: 0px;
}

.mat-cell {
    color: rgba(0, 0, 0, 1);
}

#loyaltyProgramTable .mat-column-name {
    width: 30%;
}

#loyaltyProgramTable .mat-column-necessaryPoints {
    width: 30%;
}

#loyaltyProgramTable .mat-column-pointsGainedForEachSuccessfulExchange {
    width: 40%;
}

#complaintsTable .mat-column-submittedAt {
    width: 25%;
}

#complaintsTable .mat-column-subject {
    width: 20%;
}

#complaintsTable .mat-column-status {
    width: 15%;
}

#complaintsTable .mat-column-answer {
    width: 20%;
}

#complaintsTable .mat-column-answeredAt {
    width: 20%;
}

.penaltyAndLoyaltyPointsTableDataDiv, .totalNumberOfTermsTableDataDiv, .totalNumberOfComplaintsTableDataDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.penaltyAndLoyaltyPointsTableDataDiv > p, .totalNumberOfTermsTableDataDiv > p, .totalNumberOfComplaintsTableDataDiv > p {
    margin-top: 0px;
    margin-bottom: 0px;
}
