<div class="myProfileDiv">
    <div class="leftSideDiv">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Lični podaci</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <!-- REFERENCE: https://v12.material.angular.io/components/form-field/overview -->
                <form #userForm="ngForm" (ngSubmit)="editProfile()" *ngIf="!isFormForUserSubmitted" [formGroup]="formForUser">
                    <!-- REFERENCE: https://v12.material.angular.io/components/select/overview -->
                    <mat-form-field>
                        <mat-label>Uloga: </mat-label>
                        <mat-select #roleSelect [formControl]="formForUser.get('role')">
                            <mat-option value="ROLE_PROCUREMENT_MANAGER">Menadžer nabavke</mat-option>
                            <mat-option value="ROLE_COMPANY_ADMINISTRATOR">Administrator kompanije</mat-option>
                            <mat-option value="ROLE_SYSTEM_ADMINISTRATOR">Administrator sistema</mat-option>
                        </mat-select>
                        <mat-error *ngIf="formForUser.get('role').invalid">{{ getErrorMessageFor('role') }}</mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Adresa elektronske pošte: </mat-label>
                        <input matInput #emailAddressInput type="text" [formControl]="formForUser.get('emailAddress')">
                        <mat-error *ngIf="formForUser.get('emailAddress').invalid">{{ getErrorMessageFor('emailAddress') }}</mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Korisničko ime: </mat-label>
                        <input matInput #usernameInput type="text" [formControl]="formForUser.get('username')">
                        <mat-hint align="start" *ngIf="!formForUser.get('username').errors?.pattern">
                            Najmanje 4, a najviše 32 znaka
                        </mat-hint>
                        <mat-hint align="end" *ngIf="!formForUser.get('username').errors?.pattern">
                            {{ usernameInput.value?.length || 0 }}/32
                        </mat-hint>
                        <mat-error *ngIf="formForUser.get('username').invalid">{{ getErrorMessageFor('username') }}</mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Nova lozinka: </mat-label>
                        <input matInput #newPasswordInput [type]="hideNewPassword ? 'password' : 'text'" 
                            [formControl]="formForUser.get('newPassword')">
                        <button mat-icon-button matSuffix type="button" (click)="hideNewPassword = !hideNewPassword">
                            <mat-icon>{{ hideNewPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                        </button>
                        <mat-hint align="start" *ngIf="!formForUser.get('newPassword').errors?.passwordsDoNotMatch">
                            Najmanje 4, a najviše 32 znaka
                        </mat-hint>
                        <mat-hint align="end" *ngIf="!formForUser.get('newPassword').errors?.passwordsDoNotMatch">
                            {{ newPasswordInput.value?.length || 0 }}/32
                        </mat-hint>
                        <mat-error *ngIf="formForUser.get('newPassword').invalid">{{ getErrorMessageFor('newPassword') }}</mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Još jednom unesite novu lozinku: </mat-label>
                        <input matInput #newPasswordConfirmationInput [type]="hideNewPasswordConfirmation ? 'password' : 'text'" 
                            [formControl]="formForUser.get('newPasswordConfirmation')">
                        <button mat-icon-button matSuffix type="button" 
                            (click)="hideNewPasswordConfirmation = !hideNewPasswordConfirmation">
                            <mat-icon>{{ hideNewPasswordConfirmation ? 'visibility_off' : 'visibility' }}</mat-icon>
                        </button>
                        <mat-hint align="start" *ngIf="!formForUser.get('newPasswordConfirmation').errors?.passwordsDoNotMatch">
                            Najmanje 4, a najviše 32 znaka
                        </mat-hint>
                        <mat-hint align="end" *ngIf="!formForUser.get('newPasswordConfirmation').errors?.passwordsDoNotMatch">
                            {{ newPasswordConfirmationInput.value?.length || 0 }}/32
                        </mat-hint>
                        <mat-error *ngIf="formForUser.get('newPasswordConfirmation').invalid">
                            {{ getErrorMessageFor('newPasswordConfirmation') }}
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Ime: </mat-label>
                        <input matInput #firstNameInput type="text" [formControl]="formForUser.get('firstName')">
                        <mat-error *ngIf="formForUser.get('firstName').invalid">{{ getErrorMessageFor('firstName') }}</mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Prezime: </mat-label>
                        <input matInput #lastNameInput type="text" [formControl]="formForUser.get('lastName')">
                        <mat-error *ngIf="formForUser.get('lastName').invalid">{{ getErrorMessageFor('lastName') }}</mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Ulica i broj: </mat-label>
                        <input matInput #residenceInput type="text" [formControl]="formForUser.get('residence')">
                        <mat-error *ngIf="formForUser.get('residence').invalid">{{ getErrorMessageFor('residence') }}</mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Mesto: </mat-label>
                        <input matInput #populatedPlaceInput type="text" [formControl]="formForUser.get('populatedPlace')">
                        <mat-error *ngIf="formForUser.get('populatedPlace').invalid">{{ getErrorMessageFor('populatedPlace') }}</mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Država: </mat-label>
                        <input matInput #countryInput type="text" [formControl]="formForUser.get('country')">
                        <mat-error *ngIf="formForUser.get('country').invalid">{{ getErrorMessageFor('country') }}</mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Broj telefona: </mat-label>
                        <input matInput #phoneNumberInput type="text" [formControl]="formForUser.get('phoneNumber')">
                        <mat-hint align="start">Npr. +381 61250250</mat-hint>
                        <mat-hint align="end">Mora biti unet u ovom formatu</mat-hint>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>JMBG: </mat-label>
                        <input matInput #personalIdentityNumberInput type="text" 
                            [formControl]="formForUser.get('personalIdentityNumber')">
                        <mat-hint align="start">Tačno 13 cifara</mat-hint>
                        <mat-hint align="end">{{ personalIdentityNumberInput.value?.length || 0 }}/13</mat-hint>
                    </mat-form-field>
                    <!-- REFERENCE: https://stackoverflow.com/questions/70435739/typescript-angular-mat-radio-button-change-option-programmatically -->
                    <mat-radio-group class="genderRadioGroup" name="genderRadioGroup" [formControl]="formForUser.get('gender')">
                        <mat-label>Pol: </mat-label>
                        <mat-radio-button class="genderRadioButton" value="MALE">Muški</mat-radio-button>
                        <mat-radio-button class="genderRadioButton" value="FEMALE">Ženski</mat-radio-button>
                        <mat-error *ngIf="formForUser.get('gender').invalid">{{ getErrorMessageFor('gender') }}</mat-error>
                    </mat-radio-group>
                    <mat-form-field>
                        <mat-label>Zanimanje: </mat-label>
                        <input matInput #professionInput type="text" [formControl]="formForUser.get('profession')">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Naziv bolnice/kompanije: </mat-label>
                        <input matInput #companyNameInput type="text" [formControl]="formForUser.get('companyName')">
                    </mat-form-field>
                    <div class="buttonDiv">
                        <button [disabled]="formForUser.invalid" color="accent" mat-raised-button type="submit">
                            Izmeni lične podatke
                        </button>
                    </div>
                </form>
            </mat-card-content>
            <mat-card-actions>
                <div class="buttonDiv">
                    <button [disabled]="isFormForUserSubmitted" color="primary" mat-raised-button mat-button 
                        type="button" routerLink="/">Početna stranica</button>
                </div>
            </mat-card-actions>
            <div class="spinnerDiv">
                <mat-progress-spinner *ngIf="isFormForUserSubmitted" mode="indeterminate"></mat-progress-spinner>
            </div>
        </mat-card>
    </div>
    <div *ngIf="!systemAdministrator" class="rightSideDiv">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Program lojalnosti</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <!-- REFERENCE: https://v12.material.angular.io/components/table/overview -->
                <table mat-table [dataSource]="loyaltyProgramDataSource" id="loyaltyProgramTable" class="mat-elevation-z8">
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef>
                            Naziv
                        </th>
                        <td mat-cell *matCellDef="let loyaltyProgram">
                            {{ loyaltyProgram.name }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="necessaryPoints">
                        <th mat-header-cell *matHeaderCellDef>
                            Neophodni poeni
                        </th>
                        <td mat-cell *matCellDef="let loyaltyProgram">
                            {{ loyaltyProgram.necessaryPoints }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="pointsGainedForEachSuccessfulExchange">
                        <th mat-header-cell *matHeaderCellDef>
                            Poeni za svaku uspešnu razmenu
                        </th>
                        <td mat-cell *matCellDef="let loyaltyProgram">
                            {{ loyaltyProgram.pointsGainedForEachSuccessfulExchange }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="penaltyAndLoyaltyPoints">
                        <td mat-footer-cell *matFooterCellDef colspan="3">
                            <div class="penaltyAndLoyaltyPointsTableDataDiv">
                                <p>Kazneni poeni: {{ (procurementManager?.penaltyPoints || 0) || (companyAdministrator?.penaltyPoints || 0) }}</p>
                                <p>Poeni lojalnosti: {{ (procurementManager?.loyaltyPoints || 0) || (companyAdministrator?.loyaltyPoints || 0) }}</p>
                            </div>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumnsOfLoyaltyProgram"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsOfLoyaltyProgram;"></tr>
                    <tr mat-footer-row *matFooterRowDef="['penaltyAndLoyaltyPoints']"></tr>
                </table>
            </mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-header>
                <mat-card-title>Termini</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <table mat-table [dataSource]="termsDataSource" id="termsTable" class="mat-elevation-z8">
                    <ng-container matColumnDef="startingTime">
                        <th mat-header-cell *matHeaderCellDef>
                            Početak
                        </th>
                        <td mat-cell *matCellDef="let term">
                            {{ showDateTime(term.startingTime) }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="endingTime">
                        <th mat-header-cell *matHeaderCellDef>
                            Završetak
                        </th>
                        <td mat-cell *matCellDef="let term">
                            {{ showDateTime(term.endingTime) }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="termCancellation">
                        <th mat-header-cell *matHeaderCellDef>
                            Otkazivanje
                        </th>
                        <td mat-cell *matCellDef="let term">
                            <button *ngIf="procurementManager && !didTermAlreadyStart(term)" 
                                [disabled]="isTermForEquipmentOrderBeingCancelled" type="button" 
                                (click)="cancelTermForEquipmentOrder(term.id)">
                                <mat-icon>remove_circle</mat-icon>
                            </button>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="totalNumberOfTerms">
                        <td mat-footer-cell *matFooterCellDef colspan="3">
                            <div class="totalNumberOfTermsTableDataDiv">
                                <p>Ukupan broj termina:</p>
                                <p>{{ termsDataSource.data.length }}</p>
                            </div>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumnsOfTerms"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsOfTerms;"></tr>
                    <tr mat-footer-row *matFooterRowDef="['totalNumberOfTerms']"></tr>
                </table>
            </mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-header>
                <mat-card-title>Žalbe</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <table mat-table [dataSource]="complaintsDataSource" id="complaintsTable" class="mat-elevation-z8">
                    <ng-container matColumnDef="submittedAt">
                        <th mat-header-cell *matHeaderCellDef>
                            Podneta u
                        </th>
                        <td mat-cell *matCellDef="let complaint">
                            {{ showDateTime(complaint.submittedAt) }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="subject">
                        <th mat-header-cell *matHeaderCellDef>
                            Subjekat
                        </th>
                        <td mat-cell *matCellDef="let complaint">
                            {{ showSubjectOfComplaint(complaint.subject) }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef>
                            Status
                        </th>
                        <td mat-cell *matCellDef="let complaint">
                            {{ showStatusOfComplaint(complaint.status) }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="answer">
                        <th mat-header-cell *matHeaderCellDef>
                            Odgovor
                        </th>
                        <td mat-cell *matCellDef="let complaint">
                            {{ complaint.answer }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="answeredAt">
                        <th mat-header-cell *matHeaderCellDef>
                            Odgovoreno u
                        </th>
                        <td mat-cell *matCellDef="let complaint">
                            {{ showDateTime(complaint.answeredAt) }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="totalNumberOfComplaints">
                        <td mat-footer-cell *matFooterCellDef colspan="5">
                            <div class="totalNumberOfComplaintsTableDataDiv">
                                <p>Ukupan broj žalbi:</p>
                                <p>{{ complaintsDataSource.data.length }}</p>
                            </div>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumnsOfComplaints"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsOfComplaints;"></tr>
                    <tr mat-footer-row *matFooterRowDef="['totalNumberOfComplaints']"></tr>
                </table>
            </mat-card-content>
        </mat-card>
    </div>
</div>
