<div class="companyProfileDiv">
    <h1>{{ company.name }} - profil</h1>
    <div class="matCardsDiv">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Podaci kompanije</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <form #companyForm="ngForm" (ngSubmit)="editCompany()" *ngIf="!isSubmitted" [formGroup]="form">
                    <mat-form-field>
                        <mat-label>Naziv: </mat-label>
                        <input matInput #nameInput type="text" [formControl]="form.get('name')">
                        <mat-error *ngIf="form.get('name').invalid">{{ getErrorMessageFor('name') }}</mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Ulica i broj: </mat-label>
                        <input matInput #streetAndNumberInput type="text" [formControl]="form.get('streetAndNumber')">
                        <mat-error *ngIf="form.get('streetAndNumber').invalid">{{ getErrorMessageFor('streetAndNumber') }}</mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Mesto: </mat-label>
                        <input matInput #populatedPlaceInput type="text" [formControl]="form.get('populatedPlace')">
                        <mat-error *ngIf="form.get('populatedPlace').invalid">{{ getErrorMessageFor('populatedPlace') }}</mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Država: </mat-label>
                        <input matInput #countryInput type="text" [formControl]="form.get('country')">
                        <mat-error *ngIf="form.get('country').invalid">{{ getErrorMessageFor('country') }}</mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Radno vreme: </mat-label>
                        <textarea matInput cdkTextareaAutosize #workTimeInput="cdkTextareaAutosize" 
                            cdkAutosizeMinRows="1" [formControl]="form.get('workTime')"></textarea>
                        <mat-error *ngIf="form.get('workTime').invalid">{{ getErrorMessageFor('workTime') }}</mat-error>
                    </mat-form-field>
                    <div>
                        <label>Prosečna ocena: </label>
                        <p>{{ company.averageGrade }}</p>
                    </div>
                    <mat-form-field>
                        <mat-label>Opis: </mat-label>
                        <!-- REFERENCE: https://v12.material.angular.io/cdk/text-field/overview -->
                        <textarea matInput cdkTextareaAutosize #descriptionInput="cdkTextareaAutosize" 
                            cdkAutosizeMinRows="1" [formControl]="form.get('description')"></textarea>
                        <mat-error *ngIf="form.get('description').invalid">{{ getErrorMessageFor('description') }}</mat-error>
                    </mat-form-field>
                    <div *ngIf="isHidden" class="buttonDiv">
                        <button [disabled]="isDisabled" color="accent" mat-raised-button type="submit">Izmeni</button>
                    </div>
                </form>
            </mat-card-content>
            <mat-card-actions>
                <div class="buttonDiv">
                    <button [disabled]="isSubmitted" color="primary" mat-raised-button mat-button 
                        type="button" routerLink="/">Početna stranica</button>
                </div>
            </mat-card-actions>
            <div class="spinnerDiv">
                <mat-spinner *ngIf="isSubmitted" mode="indeterminate"></mat-spinner>
            </div>
        </mat-card>
        <mat-card>
            <mat-card-header>
                <mat-card-title>Medicinska oprema kompanije</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <table mat-table [dataSource]="equipmentDataSource" id="equipmentTable" class="mat-elevation-z8">
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef>
                            Naziv
                        </th>
                        <td mat-cell *matCellDef="let equipment">{{ equipment.name }}</td>
                    </ng-container>
                    
                    <ng-container matColumnDef="type">
                        <th mat-header-cell *matHeaderCellDef>
                            Tip
                        </th>
                        <td mat-cell *matCellDef="let equipment">{{ equipment.type.name }}</td>
                    </ng-container>
                    
                    <ng-container matColumnDef="price">
                        <th mat-header-cell *matHeaderCellDef>
                            Cena
                        </th>
                        <td mat-cell *matCellDef="let equipment">{{ equipment.price }}</td>
                    </ng-container>
                    
                    <tr mat-header-row *matHeaderRowDef="displayedColumnsOfEquipment"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsOfEquipment;"></tr>
                </table>
            </mat-card-content>
        </mat-card>
    </div>
</div>
