<div class="companyProfileDiv">
    <h1>{{ company.name }} - profil</h1>
    <mat-card>
        <mat-card-header>
            <mat-card-title>Podaci kompanije</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form id="companyForm" #companyForm="ngForm" (ngSubmit)="editCompany()" *ngIf="!isFormForCompanySubmitted" 
                [formGroup]="formForCompany">
                <mat-form-field>
                    <mat-label>Naziv: </mat-label>
                    <input matInput #nameInput type="text" [formControl]="formForCompany.get('name')">
                    <mat-error *ngIf="formForCompany.get('name').invalid">{{ getErrorMessageFor('name') }}</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Ulica i broj: </mat-label>
                    <input matInput #streetAndNumberInput type="text" [formControl]="formForCompany.get('streetAndNumber')">
                    <mat-error *ngIf="formForCompany.get('streetAndNumber').invalid">{{ getErrorMessageFor('streetAndNumber') }}</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Mesto: </mat-label>
                    <input matInput #populatedPlaceInput type="text" [formControl]="formForCompany.get('populatedPlace')">
                    <mat-error *ngIf="formForCompany.get('populatedPlace').invalid">{{ getErrorMessageFor('populatedPlace') }}</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Država: </mat-label>
                    <input matInput #countryInput type="text" [formControl]="formForCompany.get('country')">
                    <mat-error *ngIf="formForCompany.get('country').invalid">{{ getErrorMessageFor('country') }}</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Radno vreme - od ponedeljka do petka: </mat-label>
                    <input matInput #workTimeOnMondaysThroughFridaysInput type="text" 
                        [formControl]="formForCompany.get('workTimeOnMondaysThroughFridays')">
                    <mat-error *ngIf="formForCompany.get('workTimeOnMondaysThroughFridays').invalid">
                        {{ getErrorMessageFor('workTimeOnMondaysThroughFridays') }}
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Radno vreme - subotom: </mat-label>
                    <input matInput #workTimeOnSaturdaysInput type="text" 
                        [formControl]="formForCompany.get('workTimeOnSaturdays')">
                    <mat-error *ngIf="formForCompany.get('workTimeOnSaturdays').invalid">
                        {{ getErrorMessageFor('workTimeOnSaturdays') }}
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Radno vreme - nedeljom: </mat-label>
                    <input matInput #workTimeOnSundaysInput type="text" 
                        [formControl]="formForCompany.get('workTimeOnSundays')">
                    <mat-error *ngIf="formForCompany.get('workTimeOnSundays').invalid">
                        {{ getErrorMessageFor('workTimeOnSundays') }}
                    </mat-error>
                </mat-form-field>
                <div class="averageGradeDiv">
                    <label>Prosečna ocena: </label>
                    <p>{{ company.averageGrade }}</p>
                </div>
                <mat-form-field>
                    <mat-label>Opis: </mat-label>
                    <!-- REFERENCE: https://v12.material.angular.io/cdk/text-field/overview -->
                    <textarea matInput cdkTextareaAutosize #descriptionInput="cdkTextareaAutosize" 
                        cdkAutosizeMinRows="1" [formControl]="formForCompany.get('description')"></textarea>
                    <mat-error *ngIf="formForCompany.get('description').invalid">{{ getErrorMessageFor('description') }}</mat-error>
                </mat-form-field>
                <div *ngIf="!isEditCompanyButtonHidden" class="buttonDiv">
                    <button [disabled]="isFormForCompanyDisabled" color="accent" mat-raised-button 
                        type="submit">Izmeni</button>
                </div>
            </form>
        </mat-card-content>
        <mat-card-actions>
            <div class="buttonDiv">
                <button [disabled]="isFormForCompanySubmitted" color="primary" mat-raised-button mat-button 
                    type="button" routerLink="/">Početna stranica</button>
            </div>
        </mat-card-actions>
        <div class="spinnerDiv">
            <mat-spinner *ngIf="isFormForCompanySubmitted" mode="indeterminate"></mat-spinner>
        </div>
    </mat-card>
    <button color="accent" mat-raised-button mat-button type="button" (click)="scheduleTerm()">
        Zakaži termin za preuzimanje opreme
    </button>
    <div class="equipmentAndTermsDiv">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Medicinska oprema kompanije</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="searchEquipmentFormDiv">
                    <form id="searchEquipmentForm" #searchEquipmentForm="ngForm" 
                        (ngSubmit)="searchEquipmentOfCompanyByName()" [formGroup]="formForEquipmentSearch">
                        <mat-form-field>
                            <mat-label>Unesite naziv: </mat-label>
                            <input matInput #searchCriterionInput type="text" 
                                [formControl]="formForEquipmentSearch.get('searchCriterion')">
                        </mat-form-field>
                        <button [disabled]="formForEquipmentSearch.invalid" color="accent" mat-raised-button type="submit">
                            Pretraži
                        </button>
                    </form>
                </div>
                <table mat-table [dataSource]="equipmentDataSource" id="equipmentTable" class="mat-elevation-z8">
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef>
                            Naziv
                        </th>
                        <td mat-cell *matCellDef="let detailOfOrderWithEquipment">
                            {{ detailOfOrderWithEquipment.equipment.name }}
                        </td>
                        <td mat-footer-cell *matFooterCellDef>Ukupna cena:</td>
                    </ng-container>
                    
                    <ng-container matColumnDef="type">
                        <th mat-header-cell *matHeaderCellDef>
                            Tip
                        </th>
                        <td mat-cell *matCellDef="let detailOfOrderWithEquipment">
                            {{ detailOfOrderWithEquipment.equipment.type.name }}
                        </td>
                        <td mat-footer-cell *matFooterCellDef></td>
                    </ng-container>
                    
                    <ng-container matColumnDef="price">
                        <th mat-header-cell *matHeaderCellDef>
                            Cena
                        </th>
                        <td mat-cell *matCellDef="let detailOfOrderWithEquipment">
                            {{ detailOfOrderWithEquipment.equipment.price }}
                        </td>
                        <td mat-footer-cell *matFooterCellDef></td>
                    </ng-container>

                    <ng-container matColumnDef="amount">
                        <th mat-header-cell *matHeaderCellDef>
                            Količina
                        </th>
                        <td mat-cell *matCellDef="let detailOfOrderWithEquipment">
                            <div class="amountTableDataDiv">
                                <button type="button" (click)="increaseAmount(detailOfOrderWithEquipment)">
                                    <mat-icon>arrow_upward</mat-icon>
                                </button>
                                {{ detailOfOrderWithEquipment.amount }}
                                <button type="button" (click)="decreaseAmount(detailOfOrderWithEquipment)">
                                    <mat-icon>arrow_downward</mat-icon>
                                </button>
                            </div>
                        </td>
                        <td mat-footer-cell *matFooterCellDef></td>
                    </ng-container>

                    <ng-container matColumnDef="subtotalPrice">
                        <th mat-header-cell *matHeaderCellDef>
                            Cena stavke
                        </th>
                        <td mat-cell *matCellDef="let detailOfOrderWithEquipment">
                            {{ detailOfOrderWithEquipment.subtotalPrice }}
                        </td>
                        <td mat-footer-cell *matFooterCellDef>{{ getTotalPriceOfEquipmentOrder() }}</td>
                    </ng-container>
                    
                    <tr mat-header-row *matHeaderRowDef="displayedColumnsOfEquipment"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsOfEquipment;"></tr>
                    <tr mat-footer-row *matFooterRowDef="displayedColumnsOfEquipment"></tr>
                </table>
            </mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-header>
                <mat-card-title>Slobodni termini</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <form id="termForm" #termForm="ngForm" (ngSubmit)="scheduleTerm()" [formGroup]="formForTerm">
                    <!-- REFERENCE: https://v12.material.angular.io/components/datepicker/examples -->
                    <mat-form-field>
                        <mat-label>Odaberite datum: </mat-label>
                        <input matInput #termDateInput type="text" [matDatepicker]="termDatePicker" 
                            [min]="minDate" [formControl]="formForTerm.get('termDate')" 
                            (dateChange)="determineFreeTermsOnSelectedTermDate()">
                        <mat-datepicker-toggle matSuffix [for]="termDatePicker"></mat-datepicker-toggle>
                        <mat-datepicker #termDatePicker>
                            <mat-datepicker-actions>
                                <button mat-raised-button color="primary" matDatepickerApply type="button">Potvrdi</button>
                                <button mat-button matDatepickerCancel type="button">Otkaži</button>
                            </mat-datepicker-actions>
                        </mat-datepicker>
                        <mat-error *ngIf="formForTerm.get('termDate').invalid">{{ getErrorMessageFor('termDate') }}</mat-error>
                    </mat-form-field>
                    <!-- REFERENCE: https://v12.material.angular.io/components/chips/examples -->
                    <mat-form-field>
                        <mat-label>Odaberite slobodan termin: </mat-label>
                        <mat-chip-list [formControl]="formForTerm.get('term')">
                            <mat-chip *ngFor="let freeTerm of freeTermsOnSelectedDate" [value]="freeTerm">
                                {{ showFreeTerm(freeTerm) }}
                            </mat-chip>
                        </mat-chip-list>
                    </mat-form-field>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>
