.companyProfileDiv {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    margin-left: 2vw;
    margin-right: 2vw;
    margin-top: 10px;
    margin-bottom: 10px;
}

mat-card {
    text-align: center;
    animation: fadein 1s;
    -o-animation: fadein 1s;
    -moz-animation: fadein 1s;
    -webkit-animation: fadein 1s;
}

.companyProfileDiv > mat-card {
    width: 70%;
}

#companyForm > mat-form-field, #termForm > mat-form-field {
    width: 100%;
    margin-bottom: 15px;
}

 #companyForm > mat-form-field:nth-of-type(7) {
    margin-bottom: 0px;
}

/* REFERENCE: https://www.geeksforgeeks.org/how-to-create-auto-resize-textarea-using-javascript-jquery/ */
textarea {
    display: block;
    overflow: hidden;
    resize: none;
}

.averageGradeDiv {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.averageGradeDiv > *:last-child {
    margin-left: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.buttonDiv, .spinnerDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

form > div.buttonDiv > button {
    width: 50%;
}

mat-card-actions > div.buttonDiv > button {
    width: 100%;
}

.companyProfileDiv > button {
    font-size: 18px;
    width: 30%;
    margin-top: 25px;
}

.equipmentAndTermsDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin-top: 25px;
}

.equipmentAndTermsDiv > *:first-child {
    width: 50%;
}

.equipmentAndTermsDiv > *:last-child {
    width: 40%;
}

.searchEquipmentFormDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.searchEquipmentFormDiv > form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.searchEquipmentFormDiv > form > button {
    margin-left: 15px;
}

table {
    width: 100%;
}

table th {
    text-align: center;
    border: 1px groove gray;
}

table td {
    border: 1px groove gray;
}

.mat-header-cell {
    color: rgba(0, 0, 0, 0.75);
}

.mat-header-cell:first-of-type {
    padding-left: 0px;
}

.mat-header-cell:last-of-type {
    padding-right: 0px;
}

.mat-cell {
    color: rgba(0, 0, 0, 1);
}

.mat-cell:first-of-type {
    padding-left: 0px;
}

.mat-cell:last-of-type {
    padding-right: 0px;
}

#equipmentTable .mat-column-name {
    width: 45%;
}

#equipmentTable .mat-column-type {
    width: 35%;
}

#equipmentTable .mat-column-price {
    width: 20%;
}

mat-chip {
    justify-content: center;
    width: 25%;
}
