.greetingTextAndTablesDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 50px;
    margin-bottom: 10px;
}

mat-card {
    text-align: center;
    min-width: 100%;
    margin-bottom: 10px;
    animation: fadein 1s;
    -o-animation: fadein 1s;
    -moz-animation: fadein 1s;
    -webkit-animation: fadein 1s;
}

.searchFormDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

form > button {
    margin-left: 15px;
}

table {
    width: 100%;
}

table th {
    text-align: center;
    border: 1px groove gray;
}

table td:not(.mat-footer-cell) {
    border: 1px groove gray;
}

tr.mat-footer-row {
    font-weight: bold;
}

.mat-header-cell {
    color: rgba(0, 0, 0, 0.75);
}

.mat-header-cell:first-of-type, .mat-cell:first-of-type, .mat-footer-cell:first-of-type {
    padding-left: 0px;
}

.mat-header-cell:last-of-type, .mat-cell:last-of-type, .mat-footer-cell:last-of-type {
    padding-right: 0px;
}

.mat-cell {
    color: rgba(0, 0, 0, 1);
}

#companiesTable .mat-column-name {
    width: 25%;
}

#companiesTable .mat-column-streetAndNumber {
    width: 25%;
}

#companiesTable .mat-column-populatedPlace {
    width: 20%;
}

#companiesTable .mat-column-country {
    width: 20%;
}

#companiesTable .mat-column-averageGrade {
    width: 10%;
}

#equipmentTable .mat-column-name {
    width: 50%;
}

#equipmentTable .mat-column-type {
    width: 30%;
}

#equipmentTable .mat-column-companyName {
    width: 20%;
}

.totalNumberOfCompaniesTableDataDiv, .totalNumberOfEquipmentTableDataDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.totalNumberOfCompaniesTableDataDiv > p, .totalNumberOfEquipmentTableDataDiv > p {
    margin-top: 0px;
    margin-bottom: 0px;
}
