<div class="greetingTextAndTablesDiv">
    <div>
        <b><h1>Dobro došli na sajt "Medicinska oprema"!</h1></b>
        <h3>Registrujte se ili prijavite kako bi mogli pristupiti funkcionalnostima sajta. Na početnoj stranici možete 
            videti, jednu ispod druge, listu kompanija koje proizvode medicinsku opremu i listu medicinske opreme u 
            okviru našeg sistema.<br/>
            Kompanije možete pretražiti po nazivu ili mestu, dok opremu možete pretražiti po nazivu.</h3>
    </div>
    <mat-card>
        <mat-card-header>
            <mat-card-title>Kompanije</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="searchFormDiv">
                <!-- REFERENCE: https://v12.material.angular.io/components/form-field/overview -->
                <form #searchForm="ngForm" (ngSubmit)="searchCompaniesByNameOrPopulatedPlace()" [formGroup]="companyForm">
                    <mat-form-field>
                        <mat-label>Unesite naziv ili mesto: </mat-label>
                        <input matInput #searchCriterionInput type="text" [formControl]="companyForm.get('searchCriterion')">
                    </mat-form-field>
                    <button [disabled]="companyForm.invalid" color="accent" mat-raised-button type="submit">Pretraži</button>
                </form>
            </div>
            <table mat-table [dataSource]="companiesDataSource" id="companiesTable" class="mat-elevation-z8">
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef>
                        Naziv
                    </th>
                    <td mat-cell *matCellDef="let company">
                        <!-- REFERENCE: https://stackoverflow.com/a/45508769 -->
                        <a routerLink="company/{{company.id}}">{{ company.name }}</a>
                    </td>
                </ng-container>
                
                <ng-container matColumnDef="streetAndNumber">
                    <th mat-header-cell *matHeaderCellDef>
                        Ulica i broj
                    </th>
                    <td mat-cell *matCellDef="let company">{{ company.streetAndNumber }}</td>
                </ng-container>

                <ng-container matColumnDef="populatedPlace">
                    <th mat-header-cell *matHeaderCellDef>
                        Mesto
                    </th>
                    <td mat-cell *matCellDef="let company">{{ company.populatedPlace }}</td>
                </ng-container>

                <ng-container matColumnDef="country">
                    <th mat-header-cell *matHeaderCellDef>
                        Država
                    </th>
                    <td mat-cell *matCellDef="let company">{{ company.country }}</td>
                </ng-container>
                
                <ng-container matColumnDef="averageGrade">
                    <th mat-header-cell *matHeaderCellDef>
                        Prosečna ocena
                    </th>
                    <td mat-cell *matCellDef="let company">{{ company.averageGrade }}</td>
                </ng-container>
                
                <tr mat-header-row *matHeaderRowDef="displayedColumnsOfCompany"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsOfCompany;"></tr>
            </table>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-header>
            <mat-card-title>Medicinska oprema</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="searchFormDiv">
                <form #searchForm="ngForm" (ngSubmit)="searchEquipmentByName()" [formGroup]="equipmentForm">
                    <mat-form-field>
                        <mat-label>Unesite naziv: </mat-label>
                        <input matInput #searchCriterionInput type="text" [formControl]="equipmentForm.get('searchCriterion')">
                    </mat-form-field>
                    <button [disabled]="equipmentForm.invalid" color="accent" mat-raised-button type="submit">Pretraži</button>
                </form>
            </div>
            <table mat-table [dataSource]="equipmentDataSource" id="equipmentTable" class="mat-elevation-z8">
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef>
                        Naziv
                    </th>
                    <td mat-cell *matCellDef="let equipment">{{ equipment.name }}</td>
                </ng-container>
                
                <ng-container matColumnDef="type">
                    <th mat-header-cell *matHeaderCellDef>
                        Tip
                    </th>
                    <td mat-cell *matCellDef="let equipment">{{ equipment.type.name }}</td>
                </ng-container>

                <ng-container matColumnDef="companyName">
                    <th mat-header-cell *matHeaderCellDef>
                        Kompanija
                    </th>
                    <td mat-cell *matCellDef="let equipment">{{ equipment.companyName }}</td>
                </ng-container>
                
                <tr mat-header-row *matHeaderRowDef="displayedColumnsOfEquipment"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsOfEquipment;"></tr>
            </table>
        </mat-card-content>
    </mat-card>
</div>
