<div class="matCardDiv">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Aktivacija korisničkog naloga</mat-card-title>
        </mat-card-header>
        <mat-card-content></mat-card-content>
        <mat-card-actions>
            <div class="buttonsDiv">
                <button color="primary" mat-raised-button mat-button type="button" routerLink="/login">
                    Prijava
                </button>
                <button color="primary" mat-raised-button mat-button type="button" routerLink="/">
                    Početna stranica
                </button>
            </div>
        </mat-card-actions>
    </mat-card>
</div>
